<form action="javascript:void(0);" [formGroup]="activityForm" (submit)="onSubmit()">
  <div>
    <label>
      Type
      <input type="text" formControlName="type" required />
    </label>
  </div>
  <div>
    <label>
      Title
      <input type="text" formControlName="title" required />
    </label>
  </div>
  <div>
    <label formGroupName="startingAt">
      StartingAt
      <input type="date" formControlName="date" required />
      <input type="time" formControlName="time" required />
    </label>
  </div>
  <div>
    <label formGroupName="endingAt">
      EndingAt
      <input type="date" formControlName="date" required />
      <input type="time" formControlName="time" required />
    </label>
  </div>
  <button type="submit">Zapisz</button>
</form>
