<h1 mat-dialog-title>Add new activity</h1>
<div mat-dialog-content>
  <form action="javascript:void(0);" [formGroup]="activityForm">
    <div class="form-element">
      <mat-form-field>
        <mat-select
          formControlName="type"
          placeholder="Type"
          #type
          required
          (selectionChange)="onTypeChange($event)"
        >
          <mat-option *ngFor="let type of activityTypes" [value]="type">{{
            type | titlecase
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Category"
          formControlName="category"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let category of categories$ | async" [value]="category">
            {{ category }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-element">
      <mat-form-field>
        <input matInput type="text" formControlName="title" placeholder="Title" required />
      </mat-form-field>
    </div>
    <div class="form-element">
      <ng-container [ngSwitch]="activityType">
        <mat-form-field *ngSwitchCase="'simple'">
          <textarea
            matInput
            cdkTextareaAutosize
            formControlName="description"
            placeholder="Description"
          ></textarea>
        </mat-form-field>
        <ng-container *ngSwitchCase="'todo'">
          <app-todo-editor [todoList]="activityForm.get('todoList')"></app-todo-editor>
        </ng-container>
      </ng-container>
    </div>
    <div class="form-element" formGroupName="startingAt">
      <mat-form-field>
        <input
          matInput
          [ngxTimepicker]="startTimePicker"
          [format]="24"
          placeholder="Start time"
          formControlName="time"
          required
        />
        <ngx-material-timepicker #startTimePicker></ngx-material-timepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-datepicker #startDatePicker></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <input
          matInput
          [matDatepicker]="startDatePicker"
          placeholder="Start date"
          formControlName="date"
        />
      </mat-form-field>
    </div>
    <div class="form-element" formGroupName="endingAt">
      <mat-form-field>
        <input
          matInput
          [ngxTimepicker]="endTimePicker"
          [format]="24"
          placeholder="End time"
          formControlName="time"
          required
        />
        <ngx-material-timepicker #endTimePicker></ngx-material-timepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-datepicker #endDatePicker></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <input
          matInput
          [matDatepicker]="endDatePicker"
          placeholder="End date"
          formControlName="date"
        />
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions class="actions">
  <button mat-flat-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    (click)="saveActivity()"
    color="primary"
    [disabled]="activityForm.invalid"
  >
    Save
  </button>
</div>
