<div class="controls">
  <mat-form-field>
    <mat-select
      [value]="interval.minutes"
      (selectionChange)="changeInterval($event)"
      placeholder="Time interval (minutes)"
    >
      <mat-option *ngFor="let interval of intervals" [value]="interval">
        {{ interval }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [value]="zoom" (selectionChange)="changeZoom($event)" placeholder="Zoom">
      <mat-option *ngFor="let zoom of zooms" [value]="zoom">
        {{ zoom | percent }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      [value]="category"
      (selectionChange)="changeCategory($event)"
      placeholder="Category"
    >
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let category of categories$ | async" [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-datepicker #picker></mat-datepicker>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <input
      matInput
      [matDatepicker]="picker"
      placeholder="Choose a date"
      [value]="date.toJSDate()"
      (dateChange)="changeDate($event)"
    />
  </mat-form-field>
</div>
<app-timeline
  class="timeline"
  [activities]="activities$ | async"
  [interval]="interval"
  [segmentHeight]="segmentHeight * zoom"
></app-timeline>
<button class="open-editor" mat-fab color="primary" (click)="openEditor()">
  <mat-icon>add</mat-icon>
</button>
