<select [(ngModel)]="interval">
  <option *ngFor="let interval of intervals; first as first" [selected]="!!first">{{
    interval
  }}</option>
</select>
<input type="number" [(ngModel)]="segmentHeight" />

<div id="timeline-container" #container>
  <app-timeline-legend
    id="timeline-legend"
    [interval]="interval"
    [segmentHeight]="segmentHeight"
  ></app-timeline-legend>
  <app-activities-timeline
    id="activities-timeline"
    [activities]="activities"
    [interval]="interval"
    [segmentHeight]="segmentHeight"
  ></app-activities-timeline>
</div>
