<div class="time">
  {{ activity.startingAt | date: 'HH:mm' }} - {{ activity.endingAt | date: 'HH:mm' }}
</div>
<div class="activity" (click)="openDetails()">
  <header>
    {{ activity.title }}
  </header>
  <hr />
  <p class="description" *ngIf="activity.description">
    {{ activity.description }}
  </p>
</div>
<div class="controls" (mouseleave)="showControls = false" [ngClass]="{ visible: showControls }">
  <button mat-icon-button color="primary" (click)="removeActivity()">
    <mat-icon>delete</mat-icon></button
  ><button mat-icon-button color="primary">
    <mat-icon>edit</mat-icon>
  </button>
</div>
