#time-indicator
  position: absolute
  border-bottom: 2px dashed #f66
  z-index: 999
  width: 100%

#timeline-container
  position: relative

#timeline-legend
  box-sizing: border-box
  display: flex
  flex-grow: 1
  flex-direction: column

#activities-timeline
  position: absolute
  top: 0
  left: 15%
  display: flex
  flex-direction: column
  width: 85%
  align-items: center
